/* v1.1 */

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: -10px;
    position: relative;
    top: 15px;
}

/* if 16" or larger, center #main on xy with position: absolute */
@media screen and (min-width: 1537px) {
    #main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* if less than 16", #main is margin top 40px */
@media screen and (max-width: 1536px) {
    #main {
        margin-top: 40px;
    }
}

h2 {
    font-weight: 100;
}

.fill {
    width: 370px;
    margin-top: 20px;
    border-radius: 5px;
    /* a little box shadow */
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.prompt {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 8px;
    border-radius: 30px;
    /* remove bevel */
    border-width: 2px;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    width: 70vw;
}

/* when prompt is focused, border color black */
.prompt:focus {
    outline: none;
    border-color: black;
}

.loading {
    /* width: 40px */
    width: 50px;
    animation: spin 0.8s linear infinite;
    -webkit-animation: spin 0.8s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.generate {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    background-color: lightgreen;
    border: none;
    padding: 10px;
    border-radius: 22px;
    margin-top: 10px;
    transition: 0.15s;
    color: black;
    -webkit-transition: 0.15s;
}

.generate:hover {
    background-color: rgb(69, 212, 69);
    cursor: pointer;
}

.download {
    width: 35px;
    margin-top: 10px;
    display: none;
    /* center horizontally */
    margin-left: auto;
    margin-right: auto;
}

.download:hover {
    cursor: pointer;
}

.span {
    display: none;
}

.footer {
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}

body {
    overflow-x: hidden;
}

.guide {
    color: blue;
}

.guide:hover {
    cursor: pointer;
    text-decoration: underline;
}

#stuff {
    margin-top: 20px;
}

/* mobile device */
@media screen and (max-width: 600px) {
    .prompt {
        width: 90vw;
    }
    .generate {
        font-size: 30px;
        border-radius: 30px;
        width: 80%;
    }
    .generate:hover {
        background-color: lightgreen;
    }
    #main {
        height: 99%;
        position: absolute;
        margin-top: 15px;
    }
}

/* 10" desktop monitor */
@media screen and (max-height: 770px) and (max-width: 1025px) {
    h1 {
        top: 45px;
        margin-top: -50px;
    }
    h2 {
        position: relative;
        top: 25px;
    }
    #main {
        width: 95vw;
        margin: 50px auto 0 auto;
    }
    .guide {
        font-size: 20px;
    }
}